div#home-remote {
    width: 70vw;
}

div#home-remote-striked {
    width: 70vw;
    position: relative;
    /* Ensure the pseudo-element is positioned relative to this div */
    overflow: hidden;
    /* Prevents the line from being visible outside the div */
}

div#home-remote-striked::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    /* Initial width of the line */
    height: 0.4rem;
    /* Thickness of the line */
    background: red;
    /* Color of the line */
    animation: strikeLine 0.4s forwards;
    /* Adjust the duration as needed */
    animation-play-state: paused;
    /* Initially pause the animation */
    transform: rotate(-28deg);
    transform-origin: bottom left;
}

/* When the home-remote-striked step is active, play the animation */
div#home-remote-striked.active::after {
    animation-play-state: running;
}

@keyframes strikeLine {
    0% {
        width: 0;
        bottom: 19vw;
        left: 32vw;
    }

    100% {
        width: 17vw;
        /* Full width of the div */
        bottom: 19vw;
        /* Move to the top, adjusting for the line's thickness */
        left: 32vw;
    }
}

.impress-on-racoon-on-fire {
    /* Custom CSS here */
    background: black;
}

.impress-on-minion-on-tears {
    /* Custom CSS here */
    background: black;
}

div#agenda h1 {
    margin-bottom: 1.3em;
}

div#agenda ul {
    padding: 0;
    /* Removes padding, especially on the left side */
    margin: 0;
    /* Adjusts margin for consistency */
}

div#agenda li {
    text-align: center;
    list-style-type: none;
    /* Removes bullets */
}

.impress-on-audience .future {
    display: none;
}

.impress-on-key-figure-1 {
    background: white;
}

.impress-on-key-figure-2 {
    background: white;
}

.impress-on-key-figure-3 {
    background: white;
}

.impress-on-mindset {
    background: white;
}

.radical.future {
    display: none;
}

.canvas {
    width: 80vw;
}

.impress-on-good-documentation {
    background: white;
}

.impress-on-salary-system {
    background: white;
}

.impress-on-impact-expertise {
    background: white;
}

#policy-history {
    width: 1048px;
}

#cybersecurity {
    width: 1048px;
}

.impress-on-isolation {
    background: black;
}

.impress-on-isolation .future {
    display: none;
}

.impress-on-isolation-danger {
    background: black;
}

#isolation {
    width: 100vw;
}

#isolation-danger {
    color: white;
}